* {
   padding: 0;
   margin: 0;
   font-family: 'Exo', sans-serif;
}
a {
   text-decoration: none;
}
ul {
   list-style-type: none;
   display: flex;
}
ul li {
   display: block;
}
.container {
   margin: 0 auto;
   max-width: 1140px;
}
header {
   background: url(../img/bg-first.png) no-repeat center top / cover;
   text-align: center;
   padding: 220px 0;
}
header h1 {
   color: #282828;
   font-size: 60px;
   font-weight: 100;
   margin-bottom: 53px;
}
header .video {
   border-radius: 50%;
   display: inline-block;
   color: #f4f5f7;
   background: #7f83a1;
   font-size: 25px;
   padding: 15px 19px 15px 23px;
}
header .try {
   display: inline-block;
   margin: 39px 0 16px 0;
   padding: 15px 50px;
   color: #fff;
   font-size: 16px;
   text-transform: uppercase;
   background: #ff6d6d;
   border-radius: 3px;
}
header span {
   color: #383c43;
   font-size: 14px;
}
.design_section {
   background: url(../img/bg-second.png) no-repeat center top / cover;
   padding: 185px 0 160px 0;
}
.design_desc {
   max-width: 570px;
}
.sec_subtitle {
   font-size: 16px;
   color: #ff6d6d;
   text-transform: uppercase;
   font-weight: 500;
}
.sec_title {
   font-size: 40px;
   color: #282828;
   font-weight: 500;
   margin-bottom: 35px;
}
.sec_title span {
   color: #ff6d6d;
   font-size: 40px;
}
.sec_desc {
   font-size: 16px;
   font-weight: 500;
   color: #717171;
}
.features_section {
   padding: 140px 0 190px 0;
   text-align: center;
   background: url(../img/bg-third.png) no-repeat center top / cover;
}
.features {
   display: flex;
   justify-content: space-around;
   margin-top: 85px;
}
.features__item .feature_title{
   font-size: 22px;
   color: #282828;
   font-weight: 500;
   margin: 30px 0 15px 0;
}
.features__item .feature_subtitle {
   font-size: 16px;
   font-weight: 500;
   color: #6e6e6d;
}
.features__item_middle {
   margin: 0 35px;
}
.responsive_section {
   background: url(../img/bg-fourth.png) no-repeat center top / cover;
   padding: 100px 0;
}
.macbook {
   display: block;
   margin-left: -70px;
   margin-right: 60px;
}
.responsive_section .container {
   display: flex;
   align-items: center;
}
.team_section {
   background: url(../img/bg-fifth.png) no-repeat center top / cover;
   padding: 110px 0 80px 0;
}
.team {
   display: flex;
   justify-content: space-around;
   padding-bottom: 75px;
}
.team__item {
   text-align: center;
   max-width: 320px;
}
.team__item .photo {
   display: inline-block;
   width: 76px;
   height: 76px;
   background: #4e4e5e;
   border: 2px solid #1d1e24;
   border-radius: 2px;
   margin-bottom: 22px;
}
.team__item .name {
   font-size: 22px;
   font-weight: 500;
   color: #fff;
}
.team__item .position {
   color: #ff6d6d;
   font-size: 16px;
   font-weight: 500;
   margin: 8px 0 35px 0;
}
.team__item .employee_desc {
   color: #b2b2b4;
   font-style: italic;
   font-size: 16px;
}
.partners {
   display: flex;
   justify-content: space-around;
}
.new_section {
   text-align: center;
   padding-top: 105px;
}
.new_section .sec_desc {
   max-width: 650px;
   margin: 0 auto 115px auto;
}
.reg_section {
   padding: 95px 0 85px 0;
   text-align: center;
   background: #323969;
}
.reg_section .sec_title {
   color: #fff;
}
form {
   position: relative;
   display: flex;
   margin-top: 90px;
   margin-bottom: 50px;
}
form input {
   outline: none;
   background: #464c77;
   border: 1px solid #999cb4;
   border-radius: 3px;
   color: #fff;
   height: 47px;
   width: 261px;
   margin-right: 29px;
   padding-left: 10px;
}
form input::placeholder {
  color: #fff;
}
form .submit {
   padding: 0 73px;
   line-height: 49px;
   text-transform: uppercase;
   border-radius: 3px;
   background: #ff6d6d;
   color: #fff;
   -webkit-box-shadow: 0px 9px 22px -13px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 9px 22px -13px rgba(0,0,0,0.75);
   box-shadow: 0px 9px 22px -13px rgba(0,0,0,0.75);
}
.terms {
   color: #a8aabc;
}
.terms a {
   text-decoration: underline;
   color: #a8aabc;
}
.trial {
   position: absolute;
   top: -60px;
   right: 55px;
   display: flex;
   align-items: flex-start;
}

.trial span {
   color: #fff;
   margin-left: -25px;
   margin-top: -3px;
}
footer {
   background: url(../img/bg-last.png) no-repeat center right / cover;
   padding: 90px 0;
}
footer .container {
   display: flex;
   justify-content: space-between;
}
footer ul {
   display: block;
}
.list li {
   padding-bottom: 10px;
}
.list li a{
   color: #717171;
   font-size: 14px;
}
footer .company {
   max-width: 250px;
}
.footer_title {
   color: #282828;
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 15px;
}
.company p {
   margin-top: 10px;
   font-size: 14px;
   color: #868686;
}
.get input {
   outline: none;
   background: #f6f6f6;
   border: 1px solid #b8b8bf;
   border-radius: 3px;
   height: 47px;
   width: 220px;
   padding-left: 28px;
}
.get .send {
   background: #ff6d6d;
   border-radius: 3px;
   margin-left: -20px;
   -webkit-box-shadow: 0px 9px 22px -13px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 9px 22px -13px rgba(0,0,0,0.75);
   box-shadow: 0px 9px 22px -13px rgba(0,0,0,0.75);
   padding: 13px 15px 14px 15px;
}
.get .send i {
   color: #fff;
   line-height: 49px;
}
.socials {
   display: flex;
   justify-content: space-around;
   margin-top: 18px;
}
.socials__item a i {
   color: #cbcbcb;
}


/* Media queries */


@media screen and (max-width: 1135px) {
   form {
      justify-content: space-around;
   }
   form input {
      margin-right: 0;
   }
   form .submit {
      padding: 0 70px;
   }
   .trial {
      right: 22px;
   }
   .design_section {
      padding: 60px 20px;
   }
   .responsive_section .container {
      position: relative;
   }
   .macbook {
      position: absolute;
      z-index: 0;
      top: 53%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      margin-left: 0;
   }
   .responsive {
      z-index: 1;
      margin: 100px auto;
      max-width: 450px;
      padding-left: 20px;
      padding-top: -50px;
   }
}
@media screen and (max-width: 1135px) {
   form {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
   }
   form input {
      margin-bottom: 30px;
   }
   form .submit {
      display: inline;
   }
   .trial {
      display: none;
   }
}
@media screen and (max-width: 960px) {
   .team {
      flex-direction: column;
      align-items: center;
   }
   .team__item {
      margin-bottom: 60px;
   }
}
@media screen and (max-width: 820px) {
   .browser {
      width: 80%;
   }
   footer .container {
      flex-direction: column;
      align-items: center;
   }
   footer {
      padding: 45px 0;
   }
   footer div {
      margin-bottom: 30px;
   }
   footer .get {
      margin-right: 0;
   }
   .company p, 
   .list li a, 
   .socials__item a i {
      color: #404040;
   }
}
@media screen and (max-width: 630px) {
   .macbook {
      display: none;
   }
   .team {
      padding-bottom: 45px;
   }
   .partners {
      flex-direction: column;
      align-items: center;
   }
   .partners__item {
      margin-bottom: 30px;
   }
   .features {
      flex-direction: column;
   }
   .features__item {
      margin: 0 30px 40px 30px;
   }
   .new_section .sec_desc {
     margin-bottom: 80px;
   }
   header h1 {
     font-size: 40px;
   }
   header {
     padding: 110px 0;
   }
}